<div class="container">
  <div>
    <a href="#">Home</a>
    <a href="#menu-heading">Menu</a>
  </div>
  <div>
    <h1>Restaurant</h1>
    <img class="restaurant-cover-img"
      src="https://staycation.twic.pics/v1/resize=1000/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg" />

    <p>Welcome to restaurant. This is an Angular project that was developed to showcase the importance of accessibility,
      and the big differences little changes make.</p>
  </div>
  <div>
    <h2>Menu</h2>
    <ul class="menu-list">
      <li *ngFor="let menu of menuList">
        <img height="120px"
          src="{{ menu.imageURL }}" />
        <h3>{{ menu.name }}</h3>
        <p>
          {{ menu.description }}
        </p>
        <span>Ingredients:</span>
        <ul class="menu-ingredients">
          <li *ngFor="let ingredient of menu.ingredients">{{ingredient}}</li>
        </ul>
        <button>Order menu</button>
        <a id="read-more" href="https://google.com/search?q={{menu.name}}">Read
          more...</a>
      </li>
    </ul>
  </div>
</div>