<div class="container">
  <div id="skip">
    <a href="#main-content">Skip to main content</a>
  </div>
  <nav>
    <ul aria-label="Navigation menu">
      <li><a href="#">Home</a></li>
      <li><a href="#menu-heading">Menu</a></li>
    </ul>
  </nav>
  <header>
    <h1>Restaurant</h1>
    <picture>
      <source media="(min-width: 768px)"
        srcset="https://github.com/toniton/restaurantmenu.io/blob/main/imgs/restaurant-cover-image.jpg 800w">
      <img class="restaurant-cover-img"
        src="https://github.com/toniton/restaurantmenu.io/blob/main/imgs/restaurant-cover-image.jpg"
        alt="Cover image of restaurant.">
    </picture>

    <p>Welcome to restaurant. This is an Angular project that was developed to showcase the importance of accessibility,
      and the big differences little changes make.</p>
  </header>
  <main id="main-content" aria-labelledby="menu-heading">
    <h2 id="menu-heading">Menu</h2>
    <ul class="menu-list">
      <li *ngFor="let menu of menuList">
        <img height="120px" alt="picture of {{menu.name}}" src="{{ menu.imageURL }}" />
        <h3 id="menu-{{ menu.id }}-title">{{ menu.name }}</h3>
        <p>
          {{ menu.description }}
        </p>
        <p id="menu-ingredients-{{ menu.id }}">
          <strong>Ingredients:</strong>
        </p>
        <ul class="menu-ingredients" attr.aria-labelledby="menu-ingredients-{{ menu.id }}">
          <li *ngFor="let ingredient of menu.ingredients">{{ingredient}}</li>
        </ul>
        <button class="primary-button">Order {{ menu.name }}</button>
        <a id="read-more-{{ menu.id }}" class="read-more-link" href="https://google.com/search?q={{menu.name}}"
          attr.aria-labelledby="read-more menu-{{ menu.id }}-title">Read
          more...</a>
      </li>
    </ul>
  </main>
</div>