.container {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.container p {
  font-family: Lato;
}

div {
  box-sizing: border-box;
}

ul.menu-list {
  min-width: fit-content;
  width: 100%;
  max-width: 700px;
}

ul.menu-list li {
  padding: 15px;
  border: 1px solid #f4f4f4;
}

ul.menu-ingredients {
  list-style: none;
  margin-bottom: 30px;
}

ul.menu-ingredients li {
  padding: 8px 15px;
  border: 1px solid #f4f4f4;
}

#skip a{
  background-color: #f4f4f4;
  padding: 8px 15px;
}

#skip a, .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  overflow: hidden;
}
 
#skip a:focus {
  color: red;
  left: 0px;
  width: auto;
  height: auto;
}

.restaurant-cover-img {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
}