<div class="container">
  <div id="skip">
    <a href="#main-content">Skip to main content</a>
  </div>
  <nav id="navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#menu-heading">Menu</a></li>
    </ul>
  </nav>
  <main id="main-content">
    <h1 id="restaurant-heading">Restaurant</h1>
    <picture>
      <source media="(max-width: 767px)"
        srcset="https://staycation.twic.pics/v1/resize=600/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 300w, https://staycation.twic.pics/v1/resize=1000/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 500w, https://staycation.twic.pics/v1/resize=1400/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 700w, https://staycation.twic.pics/v1/resize=1800/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 900w">
      <source sizes="75vw" media="(min-width: 992px)"
        srcset="https://staycation.twic.pics/v1/resize=2000/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 1000w, https://staycation.twic.pics/v1/resize=3000/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 1500w, https://staycation.twic.pics/v1/resize=3800/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 1900w, https://staycation.twic.pics/v1/resize=4700/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 2350w">
      <source media="(min-width: 768px)"
        srcset="https://staycation.twic.pics/v1/resize=1600/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 800w, https://staycation.twic.pics/v1/resize=2000/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 1000w, https://staycation.twic.pics/v1/resize=2400/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 1200w, https://staycation.twic.pics/v1/resize=3000/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg 1500w">
      <img class="restaurant-cover-img"
        src="https://staycation.twic.pics/v1/resize=1000/image:pictures/production/f99abc05497ca54df2550e864e8ebd72.jpg"
        alt="Cover image of restaurant.">
    </picture>

    <p>Welcome to restaurant. We serve great foods here :)</p>
    <p>Restaurant is an Angular project that was developed to showcase the importance of accessibility, and the big
      differences little changes make.</p>
    <div role="region" aria-labelledby="menu-heading">
      <h2 id="menu-heading">Menu</h2>
      <ul class="menu-list">
        <li *ngFor="let menu of menuList">
          <img height="120px" alt="picture of {{menu.name}}"
            src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_820/hellofresh_website/be/cms/homepage/image_columns/hiw-2-v2.png" />
          <h3 id="menu-name">{{ menu.name }}</h3>
          <p>
            {{ menu.description }}
          </p>
          <span id="menu-ingredients">Ingredients:</span>
          <ul class="menu-ingredients" aria-labelledby="menu-ingredients">
            <li *ngFor="let ingredient of menu.ingredients">{{ingredient}}</li>
          </ul>
          <button>Order menu</button>
          <a id="read-more" href="https://google.com/search?q={{menu.name}}" aria-labelledby="read-more menu-name">Read
            more...</a>
        </li>
      </ul>
    </div>
  </main>
</div>